.cm-arrow-steps {
  font-size: 0;
  width: 100%;
  line-height: 1.5;
  height: 40px;
}
.cm-arrow-steps .cm-steps-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  border-top: 1px solid #c0ccda;
  border-bottom: 1px solid #c0ccda;
}
.cm-arrow-steps .cm-steps-item:first-child {
  border-left: 1px solid #c0ccda;
}
.cm-arrow-steps .cm-steps-item:not(:first-child) .cm-step-head {
  padding-left: 10px;
  margin-left: -10px;
}
.cm-arrow-steps .cm-steps-item.cm-steps-status-finish .cm-step-title,
.cm-arrow-steps .cm-steps-item.cm-steps-status-process .cm-step-title {
  color: #ffffff;
}
.cm-arrow-steps .cm-steps-item.cm-steps-status-finish .cm-steps-step,
.cm-arrow-steps .cm-steps-item.cm-steps-status-process .cm-steps-step {
  background: #20a0ff;
}
.cm-arrow-steps .cm-steps-item.cm-steps-status-finish .cm-steps-step:after,
.cm-arrow-steps .cm-steps-item.cm-steps-status-process .cm-steps-step:after {
  background: #20a0ff;
}
.cm-arrow-steps .cm-steps-step:after {
  content: "";
  display: block;
  position: absolute;
  right: -15px;
  top: 5px;
  width: 30px;
  height: 30px;
  z-index: 1;
  border-top: 1px solid #c0ccda;
  border-right: 1px solid #c0ccda;
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cm-arrow-steps .cm-step-main {
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.cm-arrow-steps .cm-step-title {
  font-size: 14px;
  color: #777;
  font-weight: bold;
  display: inline-block;
  padding: 10px;
}
.cm-arrow-steps .cm-step-description {
  font-size: 12px;
  color: #ddd;
}
