.cm-dropdown {
  position: absolute;
  display: none;
  z-index: 1060;
  border-radius: 3px;
  background: #f9fafc;
}
.cm-dropdown-menu {
  outline: none;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0, 0, 0, 0.2);
  line-height: 30px;
}
.cm-dropdown-menu,
.cm-dropdown-menu-sub,
.cm-dropdown-menu-item-group-list {
  list-style: none;
}
.cm-dropdown-menu-sub.cm-dropdown-menu {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.cm-dropdown-menu-item {
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  padding: 0 10px!important;
}
.cm-dropdown-menu-item a {
  color: #333;
}
.cm-dropdown-menu-item a:hover {
  color: #20a0ff;
}
.cm-dropdown-menu-item:hover {
  background: #d8eeff;
}
.cm-dropdown-menu-item.cm-dropdown-menu-item-active {
  background: #d8eeff;
}
.cm-dropdown-menu-disabled a {
  color: #8492a6;
  cursor: not-allowed;
}
.cm-dropdown-menu-disabled a:hover {
  color: #8492a6;
}
.cm-dropdown-menu-disabled:hover {
  background: transparent;
}
.cm-dropdown-menu-item-divider {
  height: 1px;
  overflow: hidden;
  background-color: #e9e9e9;
  line-height: 0;
}
