.cm-input-number {
  display: inline-block;
  font-size: 12px;
}
.cm-input-number .cm-button {
  border-radius: 0;
  height: 28px;
  border: 1px solid #e9e9e9;
  box-shadow: none;
  padding: 4px 12px;
  line-height: 17px;
}
.cm-input-number .cm-button:first-child {
  border-right: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.cm-input-number .cm-button:last-child {
  border-left: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.cm-input-number .cm-input-number-field {
  height: 28px;
  border: none;
  background: transparent;
  outline: none;
  text-align: center;
  width: 50px;
  vertical-align: top;
  border: 1px solid #e9e9e9;
}
.cm-input-number.primary .cm-button {
  background: #58b7ff;
  border: 1px solid #58b7ff;
  color: #eee;
}
.cm-input-number.primary .cm-input-number-field {
  border: 1px solid #58b7ff;
}
.cm-input-number.success .cm-button {
  background: #13ce66;
  border: 1px solid #13ce66;
  color: #eee;
}
.cm-input-number.success .cm-input-number-field {
  border: 1px solid #13ce66;
}
.cm-input-number.warning .cm-button {
  background: #f7ba2a;
  border: 1px solid #f7ba2a;
  color: #eee;
}
.cm-input-number.warning .cm-input-number-field {
  border: 1px solid #f7ba2a;
}
.cm-input-number.danger .cm-button {
  background: #ff4949;
  border: 1px solid #ff4949;
  color: #eee;
}
.cm-input-number.danger .cm-input-number-field {
  border: 1px solid #ff4949;
}
.cm-input-number-disabled {
  pointer-events: none;
  opacity: .72;
}
.cm-input-number-disabled .cm-button,
.cm-input-number-disabled .cm-input-number-field {
  color: #ddd;
  background: #f7f7f7;
}
.cm-input-number-large .cm-button {
  height: 30px;
  padding: 5px 12px;
  line-height: 17px;
}
.cm-input-number-large .cm-input-number-field {
  height: 30px;
}
.cm-input-number-small .cm-button {
  height: 20px;
  padding: 0 7px;
  line-height: 17px;
}
.cm-input-number-small .cm-input-number-field {
  height: 20px;
}
