.flow-item{
    background-color: rgb(195, 220, 244);
    cursor: pointer;
    -webkit-box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    -moz-box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}
.flow-ratio{
    font-size: 16px;
    margin-top: 13px;
    font-weight: bold;
    color: #fff;
    margin-left: 7px;
    line-height: 14px;
}
.flow-item-name{
    color: #216cc7;
    width: 161px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 22px;
    margin-left: 7px;
}

.flow-item-tools{
    width: 28px;
    height: 56px;
    position: absolute;
    right: -30px;
    top: 0;
    text-align: center;
    .fa{
        display: block;
        width: 28px;
        height: 27px;
        color: #0360AF;
        font-size: 13px;
        padding-top: 8px;
        background-color: rgb(195, 220, 244);
        &:last-child{
            margin-top: 2px;
        }
    }
}
.flow-details{
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    width: 170px;
    margin-left: -175px;
    margin-top: -10px;
    border-radius: 4px;
}
